enable

conf t

service password-encryption

hostname {{ device.hostname }}

banner motd &{{ device.motd }}&

enable secret 5 $1$mERr$hx5rVt7rPNoS4wqbXKX7m0

username admin secret 5 $1$mERr$hx5rVt7rPNoS4wqbXKX7m0

ip domain-name {{ device.domain_name }}
crypto key generate rsa general-keys modulus 2048
ip ssh version 2

{% for interface in device.interfaces %}
interface {{ interface.interface }}
 ip address {{ interface.address }} {{ interface.mask }}
 duplex auto
 speed auto
 no shut
{% endfor %}

exit

{% for process in device.ospf %}
router ospf {{ process.id }}
 router-id {{ process.router_id }}
 log-adjacency-changes
 auto-cost reference-bandwidth {{ process.reference_bandwidth }}
 {% for network in process.networks %}
 network {{ network.prefix }} {{ network.wildcard }} area {{ network.area }}
 {% endfor %}
{% endfor %}

exit

line con 0
 password 7 0822455D0A16
 login

line aux 0

line vty 0 4
 login local
 transport input ssh
line vty 5 15
 login local
 transport input ssh

end

write memory

